body {
    margin: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.col-9 {
  float: left;
  width: 68.75%;
  padding-top: 20px;
}

.col-6 {
  float: left;
  width: 50%;
  padding-top: 20px;
}

.col-3 {
  float: left;
  width: 25%;
  padding-top: 20px;
}

.col-2 {
  float: left;
  width: 12.5%;
  padding-top: 20px;
}

.col-1 {
  float: left;
  width: 6.25%;
  padding-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 20px;
}

.align-right {
  text-align: right;
}

/* product design */
#products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #products td, #products th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #products tr:nth-child(even){background-color: #f2f2f2;}
  
  #products tr:hover {background-color: #ddd;}
  
  #products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0cc12;
    color: white;
  }

/* detail design */
.detail-image {
    height: 20rem;
    margin-bottom: 15px;
    border: 2px solid #000;
}

#detail {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
  }
  
  #detail td, #detail th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #detail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0cc12;
    color: white;
  }

.back-button {
    background-color: #e0cc12; /* Yellow */
    border: none;
    color: white;
    padding: 10px 25px;
    margin-bottom: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .back-button:hover {
    background-color: #dbc812; /* Yellow */
    border: none;
    color: white;
    padding: 10px 25px;
    margin-bottom: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .basket-button {
    background-color: #e0cc12; /* Yellow */
    border: none;
    color: white;
    padding: 10px 25px;
    margin-top: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .basket-button:hover {
    background-color: #dbc812; /* Yellow */
    border: none;
    color: white;
    padding: 10px 25px;
    margin-top: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

/*Login Design*/
input[type=button], input[type=submit] {
  background-color: #e0cc12; /* Yellow */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #dbc812; /* Yellow */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.reg-button {
  background-color: #e0cc12; /* Yellow */
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 13px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.reg-button:hover {
  background-color: #dbc812; /* Yellow */
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 13px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}